.country{
    border: 2px solid slateblue;
    border-radius: 20px;
    padding: 20px;
}
.btn{
    padding: 10px;
    border-radius: 10px;
    font-size:medium;
    font-weight: 600;
    background-color: rgb(1, 209, 35);
}
.btn2{
    padding: 10px;
    border-radius: 10px;
    font-size:medium;
    font-weight: 600;
    background-color: violet;
}
.visited-country{
    background-color: bisque;
}